*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}


.container{
    width: 100%;
    max-width: 70rem;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

form{
    width: 100%;
    display: flex;
    gap:  15px;
    align-items: center;
}
input{
    width: 100%;
    padding: 15px;
    outline: 3px solid  #ccc;
    border: none;
    &::placeholder {
        color: #888;
    }
    transition: all ease-in-out 0.1s;
}

input:focus{
    outline: 3px solid  #9b90e3;
}

button{
    background-color: #2b2457;
    padding: 17px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

table{
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

thead{
    background-color: #2b2457;
    height: 40px;
    color: white;
    font-size: 13px;
}

tbody{
    background-color: #f2f0ff;
    height: 40px;
    color: white;
    font-size: 13px;
}

th{
    font-weight: 500;
}

td{
    color: black;
    overflow: auto;
}

td a{
    text-decoration: none;
    color: inherit;
}

td form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_icon{
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

